.box {
    border: solid rgb(202, 196, 196) 1px;
    margin-top: 20vh;
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
    padding: 20px;
    border-radius: 15px;
}

input{
    width: 80%;
}

.line{
    border: solid rgb(202, 196, 196) 1px;
    width: 98%;
    color: rgb(255, 75, 225)
}